.content {
    display: none;
}

.content.active {
    display: block;
}


.top {
    border: 1px solid white; 
    padding: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: #fff;
}
.top-left{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
    overflow: hidden;
   
}
/* left-entry */
.top-left-entry{
    display: flex;  
}

.top-left-entry .logo{
    display: flex;
    align-items: center;
    height: 64px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
   
}
.top-left-entry .select{
    display: flex;
    align-items: center;
    height: 64px;
    color: black;
    font-weight: bold;
     margin-right: 15px;
    
}
.top-left-entry .small-logo{
    width: 25px; 
    height: 25px; 
    margin-left: 6px;
}
.top-left-entry .small-sport{
    margin-left: 6px;
}
/* search */
.top-mid-search{
    flex: 1;
    height: 40px;
    padding: 0 48px 0 4px;
    border-radius: 8px;
    border: 1px solid #e3e5e7;
    background-color: #f1f2f3;
    display: flex;
    align-items: center;
    position: relative;

    
}
.top-mid-search:hover{
    background-color: #fff;
}
.top-mid-search .search-content{
    display: flex;
    height: 20px;
    width: 100%;
    padding: 0 8px;
}
.top-mid-search .search-content-input{
    flex:1;
    background-color: transparent;
    line-height: 20px;
    overflow: hidden;
    padding: 8px;

}
.top-mid-search .search-button{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 6px;

    cursor: pointer;
    transition: background-color .3s;
    border: none;
}
.top-mid-search .search-button:hover{
    
    background-color: #e3e4e5;
}
/* right-entry */
.top-right-entry{
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
}


.top-right-entry .right-entry{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 34px;
    line-height: 34px;
    border-radius: 8px;
    color: #fff;
    background-color: #e0f7e0;
    margin-left: 10px;
    font-weight: bold;
}
/*default*/
.defaultMessage{
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 5px green;
}
.button-container {
    display: flex;
    justify-content: center; /* 将内容水平居中 */
    align-items: center; /* 将内容垂直居中 */
    margin-top: 30px;

}

.button-container .selectbutton{
    display: inline-block;
    border-radius: 4px;
    background-color: #b2d8b2;
    border: none;
    color: black;
    font-weight: bold;

    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 16px;
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}
.selectbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .selectbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .selectbutton:hover span {
    padding-right: 25px;
  }
  
  .selectbutton:hover span:after {
    opacity: 1;
    right: 0;
  }







/*main*/
.main{
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
    overflow: hidden;
}
.main .sportTittle .small-sport{
    margin-left: 6px;
}

.main .sportTittle{
    display: flex;
    align-items: center;
    height: 64px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px; 
}
.main .recommended {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 10px;
}

.main .recommended .picture-address{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    

}
.main .recommended .picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;   
}
.picture-info h3{
    line-height: 22px;
    padding-right: 16px;
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-break: anywhere;
    -webkit-line-clamp: 2;
    color: #9499a0;
}
.picture-bottom {
    margin-top: 4px;
    display: flex;
    font-size: 13px;
}
.picture-bottom a{
color: #9499a0;
display: flex;
align-items: center;

}





