.container-image {
    background-size: cover;
    width: 100vw;
    height: 50rem;
}

.animate-charcter
{
    text-transform: uppercase;
    /* background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  ); */

  background-image: linear-gradient(
    135deg,
  #ffffff 0%,
  #d3cce3 50%,
  #6a0572 100%
  );

    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 8rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


h1 {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 20rem;
  }
  
  .message {
    /* background-color: yellow; */
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    
    /* top: 0.2rem;
    left: 2rem; */
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: tahoma;
  }

  .hello{
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }


  #ani{
    background: #282c34;
    font-size: 2vmin;
    font-family: JetBrains Mono, monospace;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4bb68;
  }
  
  .string {
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: move 4s infinite;
  }
  
  .greeting {
    position: relative;
    top: 8.6vmin;
    animation: white-out 5s infinite;
  }
  
  .closure::after {
    content: '';
    position: absolute;
    height: 25vmin;
    width: 40vmin;
    background: #282c34;
    transform: translate(-45vmin, -24.5vmin);
  }
  
  .closure::before {
    content: '';
    position: absolute;
    height: 25vmin;
    width: 40vmin;
    background: #282c34;
    transform: translate(-40vmin, 5vmin);
  }
  
  .en {
    color: #fa8231;
  }
  
  .es {
    color: white;
  }
  
  .de {
    color: #c678dd;
  }
  
  .it {
    color: #a9b0bd;
  }
  
  @keyframes move {
    25% {
      transform: translatey(-5.8vmin);
      opacity: 1;
    }
    50% {
      transform: translatey(-11vmin);
    }
    75% {
      transform: translatey(-16.5vmin);
    }
  }

