button:hover {
    cursor: pointer;
    opacity: 0.7;
}

#header-bar {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    height: fit-content;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: green;
}

#navigation {
    display: flex;
}

#user-info {
    margin-top: 5%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
}

#folder-container {

    width: 100%;
    height: 25%;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;

    background-color: red;
}

.folder {


    width: fit-content;
    min-width: 100px;
    height: 50%;
    padding: 2.5%;

    text-align: center;

    background-color: transparent;

}

.folder-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#play-container {
    height: 50%;
    width: 100%;

    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    overflow-y: scroll;

    background-color: blue;
}

.play-card {
    width: 13.66%;
    height: fit-content;
    margin: 1.5%;

    background-color: purple;

    transition: opacity 0.2s;
}

.play-card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.play-card-info {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
}

#new-folder-popup {
    
}

#social-menu {
    position: fixed;
    right: 0;
    bottom: 0;
    height: fit-content;
    z-index: 1;
    margin: 50px;
    align-items: center;

    background-color: yellow;
}

#social-drop-btn {
    cursor: pointer;

    padding: 10px;

    display: flex;
    justify-content: space-between;
}

#social-list {
    height: 0px;
    width: 200px;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    transition: height 0.4s;
}