button {
    padding: 10px;
    background-color: whitesmoke;
    border: none;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}

#user-info {
    height: 10%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: left;

    box-shadow: 2px 2px 10px lightgray;
}

#profile-img {
    height: 80%;
    object-fit: contain;
    margin: 20px;

    background-color: white;
    border: 5px solid lightgray;
    border-radius: 50%;
}

#folder-container {

    width: 95%;
    height: 15%;
    min-height: 100px;
    margin: 25px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;

    border-radius: 5px;
    box-shadow: 2px 2px 10px lightgray;
}

.folder {

    width: fit-content;
    min-width: 50px;
    height: 95%;
    padding: 20px;

    text-align: center;

    background-color: transparent;

}

.folder-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.folder-img:hover {
    cursor: pointer;
}

#play-container {
    height: 45%;
    width: 95%;
    margin: 25px;

    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    overflow-y: auto;

    border-radius: 5px;
    box-shadow: 2px 2px 10px lightgray;
}

.play-card {
    width: 13.66%;
    min-width: 115px;
    height: fit-content;
    margin: 1.5%;

    box-shadow: 2px 2px 10px lightgray;

    transition: box-shadow 0.2s;
}

.play-card:hover {
    box-shadow: 2px 2px 10px gray;
}

.play-card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.play-card-info {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    white-space: nowrap;
}

#new-folder-popup {
    height: fit-content;
    width: fit-content;
    padding: 20px;

    display:none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
}

#social-menu {
    position: fixed;
    right: 0;
    bottom: 0;
    height: fit-content;
    z-index: 1;
    margin: 50px;
    align-items: center;

    background-color: lightgray;
    box-shadow: 2px 2px 10px gray;
}

#social-drop-btn {
    cursor: pointer;

    padding: 10px;

    display: flex;
    justify-content: space-between;
    margin: auto;
}

#social-dropdown {
    height: 0px;
    width: 200px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;

    background-color: white;

    transition: height 0.4s;
}

#add-friend {
    width: 100%;

    display: flex;
    flex-direction: row;
}

#add-friend-input {
    width: 80%;
}

#add-friend-btn {
    width: 20%;
}

#friends-list {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    overflow-y: auto;
}

footer {
    height: 5%;
}

.footer-link {
    margin-left: 2.5%;
    margin-right: 2.5%;
    color: gray;
    text-decoration: none;
}